<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Portfolio</title>
</head>

<body>
    <header>
    <nav>
        <a href = "#" class="active">Home</a> 
        <a href = "#">Projects</a> 
        <a href = "#">Tutoring</a>
        <a href = "#">Contact</a>
    </nav>
    </header>

    <section class="home">
        <div class="home-content">
            <h2><span>Mikhail <br> Rapada</span></h2>
            <p>I am a versatile computer engineer with a passion for creating innovative solutions.</p>
        </div>
        
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
        </div>
        <a href="#" class="btn">hire me twin</a>
    </section>
</body>
</html>